# --- Object files and build outputs with extensions ---
*.o
*.obj
*.a
*.so
*.out
*.exe
*.elf
*.s
*.i

# --- Tar archives ---
*.tar
*.gz
*.zip
sim.tar
sim/

# --- Extensionless compiled binaries ---
test
sam_
int_fastn_t
least
sammmmm
hello
mem
pft
gn
ml
sam
samN
samOF
samY
samEN
samE
samB
samI
samOper
samS
sam_ch
samx
samM
samLI
samLLI
samSrt
samW
samm
sammm
samT
tp
bi
sleepu
pc
pdty
ps
px
vp
arean
built
if
res
sa
vv
fast
mc
ignore
shh
signal
AO
Bt
LO
addr
addre
addres
arth
aso
dis
dis1
disp2
dist2
fl
m
scan
udt
DL
EX
Exp
ITC
num_
data_b
exerS
nst
ptrs
sam_p
sc
std_i
std_s
typ1
array
awz
initWF
str
fn
saF
Fl
cl
da
sav
tm
tes

# --- Build folders & OS files ---
build/
bin/
.vscode/
.idea/
.DS_Store`
# --- Python Virtual Environments ---
.venv/
venv/
ENV/
env/

# --- Python Cache & Compiled Files ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
